<h2>Контакты</h2>
<p>Наш e-mail: <a href="barber_shop@gmail.com">barber_shop@gmail.com</a></p>

<p>Оставляйте свои вопросы и пожелания тут:</p>
<form action="/contacts" method="POST" role="form">
	<input name="comment" type="textarea" class="form-control"  placeholder="Введите Ваш комментарий: ">
	<p>
	</p>
	<button type="submit" class="btn btn-primary">Отправить</button>
</form>

